valid and invalid data.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        -80
      ],
      "id": "1b75ac43-b06e-45e7-af2c-a8a667e26570",
      "name": "Daily trigger"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17VfSUrt9nuMOGchAJ6X-jh08jS6BTza2n9bDXpi3VcE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        -80
      ],
      "id": "be7dfd0f-5cef-41d4-9184-9a16078bd290",
      "name": "Clear Valid Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "itS7NRBQ8KhmcLh9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NX0Khvdr6ZKF6cHOp2t6w8d7jwTta8yIS5OvikBvW8w/edit?gid=19373379#gid=19373379",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet2",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -80
      ],
      "id": "b67c15ec-aad5-4747-bbea-df122e3b90a6",
      "name": "Clear Invalid Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "itS7NRBQ8KhmcLh9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://data.transportation.gov/resource/fx4q-ay7w.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -80
      ],
      "id": "fb8a1f5c-ef87-413d-bb56-991e2c57b962",
      "name": "Data Connection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffb940bd-3e16-4dcd-abd1-bbb09c30930b",
              "leftValue": "={{ $json.shipper_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "cf4c3e4a-83ce-47e3-aa00-9475fb5c07b8",
              "leftValue": "={{ $json.shipper_name }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a38b50c1-f237-4881-8ede-ee94ce3ec175",
              "leftValue": "={{ $json.shipper_name }}",
              "rightValue": "n/a",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ef849e22-5bec-4960-a06e-c1a6c388b92e",
              "leftValue": "={{ $json.shipper_name }}",
              "rightValue": "na",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -80
      ],
      "id": "a737d39c-0e0b-4006-b4b4-99fcef1716fe",
      "name": "Data Filtration"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17VfSUrt9nuMOGchAJ6X-jh08jS6BTza2n9bDXpi3VcE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet2",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        940,
        -180
      ],
      "id": "64ed7749-8b3c-42e6-9869-550bb99d3f56",
      "name": "Invalid Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "itS7NRBQ8KhmcLh9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NX0Khvdr6ZKF6cHOp2t6w8d7jwTta8yIS5OvikBvW8w/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "valid",
              "displayName": "valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "change_date",
              "displayName": "change_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inspection_id",
              "displayName": "inspection_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dot_number",
              "displayName": "dot_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_state",
              "displayName": "report_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_number",
              "displayName": "report_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_date",
              "displayName": "insp_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_start_time",
              "displayName": "insp_start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_end_time",
              "displayName": "insp_end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ci_status_code",
              "displayName": "ci_status_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location_desc",
              "displayName": "location_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "county_code_state",
              "displayName": "county_code_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "county_code",
              "displayName": "county_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_level_id",
              "displayName": "insp_level_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_center",
              "displayName": "service_center",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "census_source_id",
              "displayName": "census_source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_facility",
              "displayName": "insp_facility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snet_version_number",
              "displayName": "snet_version_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alcohol_control_sub",
              "displayName": "alcohol_control_sub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drug_intrdctn_search",
              "displayName": "drug_intrdctn_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drug_intrdctn_arrests",
              "displayName": "drug_intrdctn_arrests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "size_weight_enf",
              "displayName": "size_weight_enf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "traffic_enf",
              "displayName": "traffic_enf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "local_enf_jurisdiction",
              "displayName": "local_enf_jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_status_date",
              "displayName": "final_status_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_acc_ind",
              "displayName": "post_acc_ind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gross_comb_veh_wt",
              "displayName": "gross_comb_veh_wt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "viol_total",
              "displayName": "viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oos_total",
              "displayName": "oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "driver_viol_total",
              "displayName": "driver_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "driver_oos_total",
              "displayName": "driver_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vehicle_viol_total",
              "displayName": "vehicle_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vehicle_oos_total",
              "displayName": "vehicle_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hazmat_viol_total",
              "displayName": "hazmat_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hazmat_oos_total",
              "displayName": "hazmat_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snet_sequence_id",
              "displayName": "snet_sequence_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "transaction_code",
              "displayName": "transaction_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "transaction_date",
              "displayName": "transaction_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upload_date",
              "displayName": "upload_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upload_first_byte",
              "displayName": "upload_first_byte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upload_dot_number",
              "displayName": "upload_dot_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "census_search_date",
              "displayName": "census_search_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snet_input_date",
              "displayName": "snet_input_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_office",
              "displayName": "source_office",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mcmis_add_date",
              "displayName": "mcmis_add_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_carrier_name",
              "displayName": "insp_carrier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_carrier_street",
              "displayName": "insp_carrier_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_carrier_city",
              "displayName": "insp_carrier_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_carrier_state",
              "displayName": "insp_carrier_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_carrier_zip_code",
              "displayName": "insp_carrier_zip_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "docket_number",
              "displayName": "docket_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insp_interstate",
              "displayName": "insp_interstate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "registration_date",
              "displayName": "registration_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_paper_number",
              "displayName": "shipping_paper_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pen_cen_match",
              "displayName": "pen_cen_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upload_search_indicator",
              "displayName": "upload_search_indicator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cargo_tank",
              "displayName": "cargo_tank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hazmat_placard_req",
              "displayName": "hazmat_placard_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        940,
        20
      ],
      "id": "269c30e6-5988-4853-a9ce-213c7f16033d",
      "name": "Valid Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "itS7NRBQ8KhmcLh9",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily trigger": {
      "main": [
        [
          {
            "node": "Clear Valid Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Valid Sheet": {
      "main": [
        [
          {
            "node": "Clear Invalid Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Invalid Sheet": {
      "main": [
        [
          {
            "node": "Data Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Connection": {
      "main": [
        [
          {
            "node": "Data Filtration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Filtration": {
      "main": [
        [
          {
            "node": "Invalid Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a287785c-ee94-4f4a-9776-5f1287059f39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "447dd465e54fe7f0dc7463abf97bff35a57b5b94582e550b225c843360e617a7"
  },
  "id": "SZxR6dDEQeDh1IBp",
  "tags": []
}